button {
  height: 8vh;
  width: 8vh;
  border-radius: 50px;
  background-color: #d7d8da;
  color: #f4f5f8;
}
.swiper__btn_left {
  position: absolute;
  top: 40%;
  left: 3vw;
  z-index: 1;
}
.swiper__btn_right {
  position: absolute;
  top: 40%;
  right: 3vw;
  z-index: 5;
}

.swiper__icon_left {
  height: 5vh;
  width: 5vh;
  margin: 0 0 0 -1vh;
}
.swiper__icon_right {
  height: 5vh;
  width: 5vh;
  margin: 0 -1vh 0 0;
}
