.track__exercises {
  background-color: var(--ion-color-dark);
  color: #ffffff;
  font-size: 24px;
  line-height: 120%;
  padding-left: 10px;
}
.track__category {
  background-color: var(--ion-color-dark);
  color: #ffc409;
  font-weight: 600;
  font-size: 12px;
  line-height: 168%;
  padding-left: 10px;
}

ion-button {
  --background: var(--ion-color-dark);
  --background-activated: #ffc409;
  --background-hover: #e09c9c;
  --background-focused: #a588f4;
  --color: #ffffff;
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.4);
}
