body {
  font-family: "Open Sans", sans-serif, "SmytheSans";
}

div.GraphContainer {
  padding-left: 15px;
  position: relative;
}

h1.title {
  font-family: var(--smythe-sans), sans-serif;
  position: absolute;
  top: -5px;
  left: 20px;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #575756;
}

.views {
  /* Positioning */
  position: absolute;
  left: 430px;
  /* ??? */
  top: 0;
  display: flex;
}

p.month {
  font-family: var(--smythe-sans), sans-serif;
  /* Positioning */
  position: absolute;
  left: 90px;

  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #485465;
}
