.time-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  color: var(--ion-color-dark);
}

.timer-digits {
  font-size: 45px;
}

.timer-digits__digit {
  display: flex;
  justify-content: right;
  display: inline-block;
  width: 30px;
}

.timer-digits__colon {
  display: flex;
  justify-content: center;
  display: inline-block;
  width: 10px;
}
