.app-info {
  bottom: 0;
  padding-left: 20px;
}

.app-info p {
  font-size: 11px;
}

.my-tab-button {
  color: #2d2c2c;
}

.my-tab-button.tab-selected icon {
  color: #f4f5f8;
  background-color: #2d2c2c;
  transition: background-color 2s ease;
  /* border-top: 4px var(--ion-color-warning) solid; */
}
.footer__bar {
  display: absolute;
  z-index: -10;
}
