.swiper__btn {
  position: absolute;
  top: 40%;
  z-index: 5;
  height: 8vh;
  width: 8vh;
  border-radius: 50px;
  background-color: transparent;
  color: #f4f5f8;
}
.swiper__btn_prev {
  left: 3vw;
}
.swiper__btn_next {
  right: 3vw;
}
.swiper__icon {
  height: 5vh;
  width: 5vh;
}
.swiper__icon_left {
  margin: 0 0 0 -1vh;
}
.swiper__icon_right {
  margin: 0 -1vh 0 0;
}
