input {
  text-align: center;
  background-color: #ffffff;
}
d ::placeholder {
  text-align: center;
}

/* or, for legacy browsers */

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

.tour__check_box {
  --size: 32px;
  --checkbox-background-checked: var(--ion-color-warning);
}
.tour__check_box::part(container) {
  border-radius: 6px;
  border: 2px solid var(--ion-color-warning);
}
.intro_input {
  width: 32px;
  height: 32px;
}
